.container{
	width: 100%;
	height: 110vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom,#00E0FF,#6F0096);
	font-family: 'SF-Pro-Display', sans-serif;
}
.image{
	width: 100%;
	height: 110vh;
	position: absolute;
	object-fit: cover;
}
.hero{
	width: 150vh;
	height: 98vh;
	background: linear-gradient(to bottom, rgba(197,197,197,30%),rgba(10,10,10,30%));
	backdrop-filter: blur(50px);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 3vh;
	overflow: hidden;
	border: 1px solid #fff;
}
.body{
	width: 100%;
	height: 92%;
	background: linear-gradient(to bottom, rgba(197,197,197,30%),rgba(125,125,125,30%));
	display: flex;
	align-items: items;
	justify-content: space-between;
	border-top: 1px solid #fff;
}
.left{
	width: 70%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	overflow: hidden;
}
.left h1{
	width: 100%;
	height: 10vh;
	color: #fff;
	font-size: 1.5vw;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 2vh;
}
.images{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: wrap;
	overflow: auto;
}
.images img{
	width: 45%;
	margin: 1vh 0px;
}
.right{
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.right img{
	width: 100%;
}
.box{
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	border-radius: 1vh;
	background: rgba(217,217,217,25%);
}
.card{
	width: 95%;
	height: 40px;
	background: #222;
	color: #fff;
	font-size: 1vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	border-bottom: 1px solid #fff;
	margin: 2px 0px;
}
.card i{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#tags i{
	font-size: 3vh;
}
@media only screen and (min-width: 1600px){
	.container{
		
	}
	.hero{
		
	}
}